/* HEADER */
header {
  padding: 0 20px;
  background: #222;
}

header > div {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header, header a {
  color: white;
  line-height: 2;
}

header a {
  cursor: pointer;
  transition: color 0.3s ease;
}

header a:hover, header a:not([href]):not([tabindex]):hover {
  color: #ddd;
  text-decoration: none;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 480px) {
  header .menu-control {
    display: none;
  }
  header nav ul {
    display: flex;
    justify-content: space-between;
  }
  header nav ul li + li {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 479px) {
  header nav {
    text-align: right;
  }
  header nav ul {
    display: none;
  }
  header.menu-open nav ul {
    display: block;
  }
}

/* SLIDER */
.slider {
  overflow: hidden;
  position: relative;
}

.slider > div {
  display: flex;
  transition: transform 0.3s ease;
}

.slider ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slide {
  width: 100%;
  height: 500px;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: 50% 50%;
  font-size: 3em;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

.slide > div {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 20px 0;
}

.slide > div :last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 479px) {
  .slide {
    height: 300px;
    font-size: 1.5em;
  }
}

.slide-1 {
  background-image: url("https://picsum.photos/1600/500");
}

.slide-2 {
  background-image: url("https://picsum.photos/1600/510");
}

.slide-3 {
  background-image: url("https://picsum.photos/1600/520");
}

.slide-prev, .slide-next {
  font-family: FontAwesome;
  font-size: 70px;
  padding: 0 20px;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: text-shadow 0.3s ease;
}

.slide-prev:hover, .slide-next:hover {
  text-shadow: 0 1px 30px black;
}

.slide-prev {
  left: 0;
}

.slide-prev:before {
  content: "\f104";
}

.slide-next {
  right: 0;
}

.slide-next:before {
  content: "\f105";
}

/* ACCORDION */
.accordion-block {
  padding: 0 20px;
}

.accordion-block > div {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.accordion-block .accordion-item .accordion-heading {
  background: #222;
  padding: 5px 20px;
  color: white;
  cursor: pointer;
}

.accordion-block .accordion-item .accordion-heading .fa {
  float: right;
  margin-top: 4px;
  pointer-events: none;
}

.accordion-block .accordion-item .accordion-text {
  padding: 10px 20px;
  border: 1px solid #222;
  display: none;
}

.accordion-block .accordion-item + .accordion-item {
  margin-top: 5px;
}

.accordion-block .accordion-item.open .accordion-text {
  display: block;
}

/* FOOTER */
footer {
  padding: 0 20px;
  background: #222;
  color: white;
}

footer > div {
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (min-width: 520px) {
  footer > div {
    display: flex;
    justify-content: space-between;
  }
}

footer p {
  margin-bottom: 0;
}

footer, footer a {
  color: white;
  line-height: 2;
}

footer a {
  cursor: pointer;
  transition: color 0.3s ease;
}

footer a:hover, footer a:not([href]):not([tabindex]):hover {
  color: #ddd;
  text-decoration: none;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

footer ul li + li {
  margin-left: 1rem;
}
/*# sourceMappingURL=style.css.map */